<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tokend.authenticator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.activities.account_list.AccountsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activities.add_account.AddAccountActivity"
            android:label="@string/add_account" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="sensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".base.activities.RecoverySeedActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/save_recovery_seed"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".base.activities.RecoveryActivity"
            android:label="@string/recovery" />
        <activity
            android:name=".auth.view.accounts.selection.AuthAccountSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".auth.view.AuthorizeAppActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="auth"
                    android:scheme="tokend" />
            </intent-filter>
        </activity>
        <activity android:name=".base.activities.general_account_info.GeneralAccountInfoActivity"
            android:label="@string/manage_account"/>
    </application>

</manifest>